.BookBox{
    display: flex;
    flex-direction: column;
    border-radius:12px;
    margin: 50px;
    background-color: white;
    height:320px;
    width:270px;
    border:0;
    box-shadow: 0 0 28px rgb(121, 88, 74);
}
.Picture{
    height:160px;
    width:270px;
    border-bottom: 1px solid black;
}
img{
    height:160px;
    width:270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.BookDetails{
    padding: 15px;
    margin-top:20px;
}
.BookName{
    font-weight: bold;
    height:40px;
    font-family: Helvetica, sans-serif;
}
.BookRating{
    font-size: 25px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    padding:8px;
    padding-left:0px;
}
.BookAuthor{
    text-align: right;
    /* font-size:15px; */
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
.LikeIcon{
    border-radius:50px;
    height:30px;
    width:30px;
    padding:5px;
}
.Like{
    border-radius:50px;
    box-shadow: -1px 1px 2px rgb(94, 92, 92);
    bottom:177px;
    left:200px;
    height:50px;
    width:50px;
    position: relative;
    background-color: grey;
}
.RedLike{
    border-radius:50px;
    box-shadow: -1px 1px 2px grey;
    bottom:177px;
    left:200px;
    height:50px;
    width:50px;
    position: relative;
    background-color: red;
}
.LikeButton{
    border-radius:50px;
    padding:0;
    margin:5px;
    background-color: grey;
    border:0;
}
.LikeButton:focus {
    outline: none;
  }
.RedLikeButton{
    border-radius:50px;
    padding:0;
    margin:5px;
    background-color: red;
    border:0;
}
.RedLikeButton:focus{
    outline:none;
}