.AuthorHeading{
    background-color: white;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    padding-left:70px;
    font-size: 30px;
    flex-grow:1;
    display:flex;
    width:100%;
    font-weight: lighter;
}