.Header{
    background-color: white;
    width:250px;
    /* display: block; */
    /* flex-grow:1; */
    margin:0px;
    margin-bottom:10px;
}
.BookShelf{
    background-color: rgb(159,65,65);
    display:flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:25px;
    border-bottom-right-radius: 8px;
    margin-bottom:0;
    padding-right:28px;
    padding-left:15px;
    padding-top: 10px;
}
.bigBook{
    font-size: 38px;
}
.Line{
    color:rgb(190,147,146);
    /* color:white; */
    padding-top:0px;
    margin-top:0;
}
.Text{
    padding-bottom: 0px;
}
hr{
    /* color:rgb(190,147,146); */
    color:white;
    padding-top:0px;
    margin-top:0;
    height: 5px;
    border: 0;
    border-radius: 5px;
	box-shadow: 0px 10px 10px -10px white inset;
}